@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  --color-main: #004EB4;
  --color-sub: #4587df;
  --color-bgtext: #0084FF;
  --color-orange: #FFB729;
  --color-yellow: #F2A900;
  --color-white: #fcfcfc;
  --color-benefits-circle: #004EB4;
  --color-business-border: #386AC4;
  --color-subBG-white: #F9F9F9;
  --color-skyblue: #3DA4F1;
  --color-gray: #eeeeee;
  --color-btn-white: #ffffff;
  --color-bg-gray: #F5F5F5;
  --color-border-gray: #c1c1c1;
  --color-footer-line: #5298C5;
  --color-text: #333333;
  --color-alert: #d00000;
}

/* base default*/
html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

body {
  color: #1c1c1c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

:root {
  --en-font: "roboto", sans-serif;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0rem;
  z-index: 300;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #004eb4 0%, #074db7 0%, #0069cb 100%);
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
.l-header__container {
  width: 80%;
  position: absolute;
  padding-top: 10em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.l-header__inner {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.l-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .l-container {
    width: 95%;
  }
}
@media screen and (max-width: 767px) {
  .l-container {
    width: 95%;
  }
}

.l-container--narrow {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  height: 100%;
}

.l-navigation {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  height: 100vh;
  width: 8%;
  background-color: var(--color-btn-white);
  -ms-box-shadow: 7px 2px 9px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 7px 2px 9px 6px rgba(0, 0, 0, 0.1);
}

.l-backgroundgray {
  width: 84%;
  margin: 0 auto;
  background: var(--color-subBG-white);
  position: relative;
  z-index: -2;
}
.l-backgroundgray.-wide {
  width: 100%;
}
.l-backgroundgray.-radius {
  border-radius: 12px;
}

.l-backgroundblue {
  background: var(--color-main);
  height: 1230px;
}

.l-philosophy__companyname {
  overflow: hidden;
  text-align: right;
  padding-bottom: 10em;
}

.l-spacer {
  padding: 4rem 0;
}
@media screen and (max-width: 767px) {
  .l-spacer {
    padding: 2rem 0;
  }
}
.l-spacer.-title {
  padding: 8rem 0 3rem;
}
@media screen and (max-width: 767px) {
  .l-spacer.-title {
    padding: 3rem 0 3rem;
  }
}
.l-spacer.-section {
  padding: 6.8rem 0;
}
@media screen and (max-width: 767px) {
  .l-spacer.-section {
    padding: 3rem 0;
  }
}
.l-spacer.-maximum {
  padding: 5rem 0;
}
.l-spacer.-minimum {
  padding: 0.5rem 0;
}
.l-spacer.-medium {
  padding: 2rem 0;
}
.l-spacer.-nobottom {
  padding-bottom: 0;
}
.l-spacer.-notop {
  padding-top: 0;
}

.l-mv {
  position: relative;
}
.l-mv:before {
  position: absolute;
  content: "";
  z-index: -10;
  background-color: var(--color-main);
  width: 100%;
  height: 10%;
  top: 0;
}
.l-mv:after {
  position: absolute;
  content: "";
  z-index: -10;
  border-radius: 12px;
  background-color: var(--color-main);
  width: 95%;
  height: 110%;
  top: 0;
  right: 0;
}

.l-submv {
  min-height: 540px;
  position: relative;
}
.l-submv:after {
  position: absolute;
  content: "";
  border-radius: 12px 12px 12px 0;
  background: var(--color-subBG-white);
  bottom: 0;
  right: 0;
  width: 55%;
  height: 95%;
}
.l-submv.-occupation:after {
  width: 0;
  height: 0;
}
.l-submv.-occupation:before {
  width: 100%;
}
.l-submv:before {
  position: absolute;
  content: "";
  border-radius: 0 0 12px 0;
  width: 45%;
  height: 100%;
  background-color: var(--color-main);
}
.l-submv__mask {
  width: 100%;
  background-color: var(--color-main);
  position: relative;
}

.l-interview {
  position: relative;
  z-index: 10;
}
.l-interview:after {
  position: absolute;
  z-index: -4;
  content: "";
  background: var(--color-bg-gray);
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
}

.l-corevalue {
  margin-bottom: 10em;
}

.l-leadsection {
  overflow: hidden;
}
.l-leadsection__inner {
  width: 1100px;
  margin: 0 auto;
}

.l-data__lead {
  padding-top: 4em;
}

.l-messageSec3 {
  margin-bottom: 10em;
}

.l-about {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.l-about:before {
  position: absolute;
  content: "";
  z-index: -10;
  background-image: url(../img/bg01.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  max-height: 507px;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
}

.l-business {
  padding: 2em 0;
}

.l-movie {
  position: relative;
  z-index: 10;
}
.l-movie:after {
  position: absolute;
  z-index: -5;
  content: "";
  background: var(--color-btn-white);
  width: 85%;
  height: 100%;
  border-radius: 0 12px 0 0;
  top: 0;
  left: 0;
}

.l-company__flex {
  display: flex;
  width: 90%;
}
.l-company__flex.-wide {
  width: 100%;
}
.l-company__flex-item.-title {
  min-width: 30%;
}
.l-company__flex-item.-title.-history {
  min-width: 27%;
}
.l-company__flex-item.-table {
  flex-grow: 1;
}
.l-company__flex-item.-map {
  flex-grow: 1;
}
.l-company__flex-item.-list {
  width: 44%;
}

.l-culture {
  overflow: hidden;
}

.l-benefits {
  overflow: hidden;
}
.l-benefits__wrap {
  padding-top: 5em;
}

.l-slide {
  position: relative;
  z-index: 200;
}
.l-slide:after {
  position: absolute;
  z-index: -5;
  content: "";
  background: var(--color-btn-white);
  width: 85%;
  height: 100%;
  border-radius: 0 0 12px 0;
  top: 0;
  left: 0;
}
.l-slide__inner {
  width: 70vw;
  margin: 0 auto 0 7em;
  position: relative;
  top: -40px;
}

.l-footer {
  background: var(--color-main);
}
.l-footer__inner {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.c-heading {
  display: inline-block;
  position: relative;
}
.c-heading:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 55%;
  height: 1px;
  background-color: var(--color-main);
  top: 52%;
  right: 33%;
  transform: rotate(123deg);
}
.c-heading__en {
  color: var(--color-main);
  font-size: 6.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.c-heading__title {
  font-size: 1.25rem;
  color: var(--color-main);
  padding-top: 1em;
  text-align: center;
}
.c-heading.-center {
  margin: 0 auto;
}

.c-headingSub {
  display: inline-block;
  position: relative;
  z-index: 100;
}
.c-headingSub:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 55%;
  height: 1px;
  background-color: var(--color-btn-white);
  top: 52%;
  right: 56%;
  transform: rotate(123deg);
}
.c-headingSub.-data:after {
  width: 88%;
  right: 30%;
}
.c-headingSub.-occupation {
  line-height: 120px;
  margin-top: -2em;
}
.c-headingSub.-occupation:after {
  width: 30%;
  right: 78%;
}
.c-headingSub__en {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-btn-white);
  font-size: 6.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.c-headingSub__title {
  font-size: 1.25rem;
  color: var(--color-btn-white);
  padding-top: 1em;
  padding-left: 3em;
}
.c-headingSub__title.-occupation {
  padding-top: 0;
}
.c-headingSub.-center {
  margin: 0 auto;
}

.c-heading__blue {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-main);
  letter-spacing: 0.05em;
}

.c-headingLv2 {
  position: relative;
  font-size: 1.25rem;
  line-height: 29px;
  font-weight: 400;
}
.c-headingLv2:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 85px;
  background-color: var(--color-sub);
  top: -30%;
  left: -13%;
  transform: rotate(-54deg);
}

.c-headingLv3 {
  color: var(--color-main);
}
.c-headingLv3__jp {
  font-size: 2rem;
  display: inline-block;
  padding-right: 3em;
}
.c-headingLv3__en {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  position: relative;
}
.c-headingLv3__en:before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--color-main);
  width: 28px;
  height: 1px;
  bottom: 0;
  left: -65px;
}

.c-headingLv3.-occupation {
  color: var(--color-white);
}

.c-headingLv3__en.-occupation:before {
  background-color: var(--color-white);
}

.c-headingLv4 {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--color-main);
  position: relative;
}
.c-headingLv4:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--color-main);
  bottom: -4px;
  left: 0;
}

.c-flex {
  display: flex;
}
.c-flex__half {
  display: flex;
  flex-wrap: wrap;
}
.c-flex__half-item {
  width: 50%;
}
.c-flex__oneThird {
  display: flex;
}
.c-flex__oneThird-item {
  width: calc(100% / 3);
}

.c-btn {
  position: relative;
  font-size: 0.875rem;
  display: inline-block;
  cursor: pointer;
  background-color: var(--color-btn-white);
  transition: 0.2s;
  text-align: left;
  outline: none;
  border-radius: 4px;
}
.c-btn.-gray {
  background-color: var(--color-gray);
}
.c-btn:after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px var(--color-main);
  transition: 0.2s;
}
.c-btn:hover {
  opacity: 0.8;
}
.c-btn:hover:after {
  width: 15px;
  height: 15px;
  right: 7.7%;
  border: solid 10px var(--color-sub);
}
.c-btn span {
  height: 100%;
  display: block;
  position: relative;
  min-width: 228px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.75em;
  border-radius: 4px;
}
.c-btn span:hover {
  color: var(color-main);
}
.c-btn span:hover:before, .c-btn span:hover:after {
  transform: scale(1);
}

.c-companyname {
  color: var(--color-bgtext);
  opacity: 0.2;
  font-family: "Roboto", sans-serif;
  font-size: 12.5rem;
  font-weight: bold;
}

.c-text {
  font-size: 0.875rem;
  line-height: 2.25em;
  color: var(--color-text);
}

.c-card {
  position: relative;
  z-index: 10;
  border: 1px solid var(--color-gray);
  display: inline-block;
  border-radius: 12px;
  background-color: var(--color-gray);
  cursor: pointer;
  transition: 0.3s;
  margin-right: 1em;
  transition: 0.3s;
}
.c-card__top img {
  transition: 0.3s;
  border-radius: 12px;
}
.c-card__bottom {
  padding: 0.5em 0 1em 1em;
}
.c-card__text {
  font-size: 0.6875rem;
  padding-top: 0.25em;
  text-align: left;
}
.c-card__next {
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--color-main);
  width: 21px;
  height: 21px;
  display: inline-block;
  bottom: 4%;
  right: 10%;
  transition: 0.3s;
}
.c-card__next:after {
  position: absolute;
  content: "";
  width: 17px;
  height: 6px;
  right: -7px;
  top: 2px;
  border-bottom: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main);
  transform: skew(45deg);
  transition: 0.3s;
}
.c-card:hover {
  background-color: var(--color-white);
  transition: 0.3s;
}
.c-card:hover .c-card__next {
  width: 23px;
  height: 23px;
  transition: 0.3s;
  border: 2px solid var(--color-skyblue);
  right: 8%;
  bottom: 3%;
  opacity: 1;
}
.c-card:hover .c-card__next:after {
  transition: 0.3s;
  width: 22px;
  height: 8px;
  right: -11px;
  border-bottom: 1px solid var(--color-skyblue);
  border-right: 1px solid var(--color-skyblue);
  top: 3px;
}
.c-card:hover .c-card__top img {
  opacity: 0.8;
  transition: 0.3s;
}

.c-centerposition {
  text-align: center;
}

.p-header {
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  color: var(--color-white);
}
.p-header a {
  display: inline-block;
  transition: 0.3s;
}
.p-header a:hover {
  opacity: 0.9;
  color: #bdbdbd;
  transition: 0.3s;
}
.p-header__nav {
  width: 33%;
}
.p-header__nav-title {
  position: relative;
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 1.25em;
}
.p-header__nav-title + .p-header__nav-title {
  padding-top: 1em;
}
.p-header__nav-title a {
  display: block;
}
.p-header__nav-title:after {
  position: absolute;
  content: "";
  background-color: var(--color-footer-line);
  height: 1px;
  width: 75%;
  bottom: 0;
  left: 0;
}
.p-header__nav-list {
  font-size: 1rem;
  padding-top: 0.25em;
}
.p-header__nav-list li {
  position: relative;
  padding-top: 1em;
  padding-left: 2em;
}
.p-header__nav-list li:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  background-color: var(--color-white);
  top: 69%;
  left: 0%;
}
.p-header__bottom {
  text-align: right;
}
.p-header__text {
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 1.75em;
}
.p-header__text-en {
  font-size: 0.75rem;
}

.p-slide__wrap {
  position: relative;
  display: flex;
}

.p-navigation__circle {
  background-color: var(--color-btn-white);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: -13%;
  left: -43%;
  position: relative;
  overflow: hidden;
}
.p-navigation__circle img {
  position: absolute;
  z-index: 110;
  padding: 1em;
  top: 50%;
  right: 34%;
}
.p-navigation__humberger {
  text-align: center;
  display: block;
  margin: 3em auto 0;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}
.p-navigation__humberger span {
  display: block;
  margin-bottom: 0.75em;
  width: 40px;
  height: 2px;
  background-color: var(--color-main);
  transition: 0.3s;
  opacity: 1;
  position: relative;
}
.p-navigation__humberger.is-open span:nth-child(1) {
  opacity: 0;
}
.p-navigation__humberger.is-open span:nth-child(2) {
  transform: rotate(-45deg);
  top: 3px;
}
.p-navigation__humberger.is-open span:nth-child(3) {
  transform: rotate(45deg);
  top: -10px;
}
.p-navigation__bottom {
  position: fixed;
  bottom: 30px;
  right: 0;
}
.p-navigation__bottom a {
  display: block;
}
.p-navigation__bnr {
  background-color: var(--color-orange);
  border-radius: 4px;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 1.5em 1em 1.5em 0.5em;
  position: relative;
  left: 11px;
}
.p-navigation__bnr:first-of-type {
  margin-bottom: 1em;
}
.p-navigation__bnr-title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
}
.p-navigation__bnr:hover {
  background-color: rgba(255, 248, 54, 0.74);
}

.p-philosophy__title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.125em;
}
.p-philosophy__box {
  width: 100%;
  margin: 0 auto;
  padding-top: 8.25em;
}
.p-philosophy__box p {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 1em;
}

.p-corevalue {
  overflow: hidden;
}
.p-corevalue__lead {
  padding-top: 5em;
  margin: 0 auto;
  width: 80%;
}
.p-corevalue__list {
  padding-top: 5em;
  margin: 0 auto;
  width: 80%;
}
.p-corevalue__list-item {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.25rem;
  color: var(--color-text);
}
.p-corevalue__list:after {
  position: absolute;
  content: "earth link";
  color: var(--color-bgtext);
  opacity: 0.08;
  font-family: "Roboto", sans-serif;
  top: 27%;
  right: 0;
  font-size: 12.5rem;
  font-weight: bold;
}

.p-data__circle {
  margin: 0 auto;
  width: 360px;
  height: 360px;
  background-color: var(--color-subBG-white);
  border-radius: 50%;
  position: relative;
}
.p-data__circle-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-data__circle-number {
  font-size: 2.5rem;
  color: var(--color-main);
  position: relative;
  padding-bottom: 0.25em;
}
.p-data__circle-number:after {
  position: absolute;
  content: "";
  background-color: var(--color-main);
  width: 30px;
  height: 1px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
}
.p-data__circle-title {
  font-size: 1.5rem;
  color: var(--color-main);
}
.p-data__circle-img img.small {
  width: 50%;
}
.p-data__inner {
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;
}
.p-data__card {
  display: inline-block;
  padding: 1em 2.25em;
  background-color: var(--color-btn-white);
  border-radius: 12px;
  border: 2px solid var(--color-main);
  position: absolute;
}
.p-data__card-top {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--color-main);
}
.p-data__card-center {
  font-size: 1.25rem;
  color: var(--color-main);
}
.p-data__card-center span {
  font-size: 3.75rem;
  padding-right: 0.1em;
}
.p-data__card-bottom {
  font-size: 0.875rem;
}

.p-data__card.-number1 {
  top: 0;
  left: 13%;
}

.p-data__card.-number2 {
  top: 30%;
  right: 3%;
}

.p-data__card.-number3 {
  top: 70%;
  left: 8%;
}

.p-data__card.-number4 {
  width: 23%;
  top: 0%;
  left: 13%;
}

.p-data__card.-number5 {
  width: 23%;
  top: 0%;
  right: 13%;
}

.p-data__card.-number6 {
  width: 23%;
  top: 40%;
  left: 0%;
}

.p-data__card.-number7 {
  width: 23%;
  top: 40%;
  right: 0%;
}

.p-data__card.-number8 {
  width: 23%;
  top: 80%;
  left: 13%;
}

.p-data__card.-number9 {
  width: 23%;
  top: 80%;
  right: 13%;
}

.p-data__card.-number10 {
  top: 5%;
  left: 3%;
}

.p-data__card.-number11 {
  top: 5%;
  right: 3%;
}

.p-data__card.-number12 {
  top: 70%;
  left: 8%;
}

.p-data__card.-number13 {
  top: 70%;
  right: 8%;
}

.p-mv__img {
  padding-top: 1.5em;
  width: 90%;
  max-height: 716px;
  position: relative;
}
.p-mv__img img {
  width: 100%;
  height: 716px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}
.p-mv__img:after {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: var(--color-orange);
  width: 200px;
  height: 1px;
  bottom: -45px;
  right: 50%;
  transform: translateX(50%) rotate(-54deg);
}
.p-mv__catch {
  position: absolute;
  bottom: 20%;
}
.p-mv__catch-lead {
  font-weight: 400;
  font-size: 3rem;
  padding-left: 1em;
  position: relative;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.p-company__table-row {
  display: flex;
  padding-bottom: 1.6em;
  padding-top: 1.6em;
  border-bottom: 1px solid var(--color-border-gray);
}
.p-company__table-row:first-of-type {
  padding-top: 0;
}
.p-company__table-row dt {
  min-width: 180px;
}
.p-company__name {
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1.75em;
}
.p-company__name:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-border-gray);
  bottom: 0;
  left: 0;
}
.p-company__address-address {
  font-size: 0.875rem;
}
.p-company__list li {
  font-size: 0.875rem;
}
.p-company__history-row {
  display: flex;
  font-size: 0.875rem;
}
.p-company__history-row dt {
  min-width: 155px;
}

.p-submv {
  position: relative;
  z-index: 40;
}
.p-submv__img {
  z-index: 50;
  position: absolute;
  content: "";
  right: 8%;
  top: 50px;
}
.p-submv__img img {
  border-radius: 12px 0 0 12px;
}
.p-submv__title {
  padding-top: 10em;
}

.p-message {
  overflow: hidden;
}
.p-message__box {
  padding-top: 5em;
  width: 83%;
  color: var(--color-text);
  margin: 0 auto;
  position: relative;
}
.p-message__box:after {
  content: "";
  position: absolute;
  width: 437px;
  height: 437px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffefba 0%, #ffc551 100%);
  z-index: -10;
  top: -41%;
  right: -30%;
  opacity: 0.26;
}
.p-message__box-text {
  font-size: 1rem;
  line-height: 40px;
}

.p-messageSec2__half-item.-left {
  margin-top: 5em;
  position: relative;
  z-index: 20;
  left: -20px;
}
.p-messageSec2__half-item.-left img {
  border-radius: 12px;
}
.p-messageSec2__half-item.-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(0deg, #004eb4 0%, #074db7 0%, #0069cb 100%);
  width: 537px;
  height: 880px;
  border-radius: 12px;
  top: -50%;
  right: 50%;
}
.p-messageSec2__lead {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-main);
}
.p-messageSec2__lead-text.-right {
  text-align: right;
  padding-top: 0.75em;
}
.p-messageSec2__centense {
  width: 80%;
  margin: 0 auto;
  padding-top: 4em;
}

.p-messageSec3__subTitle {
  padding-top: 2.75em;
}
.p-messageSec3__text {
  padding-top: 5.5em;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: underline;
}
.p-messageSec3__box {
  width: 83%;
  margin: 0 auto;
  padding-top: 5.5em;
}
.p-messageSec3__box-wrap {
  padding-top: 2em;
}
.p-messageSec3__box-wrap:first-of-type {
  padding-top: 0;
}
.p-messageSec3__box-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.p-messageSec3__box-text {
  font-size: 0.875rem;
  padding-top: 1.5em;
  padding-left: 1em;
}
.p-messageSec3__box-text p {
  line-height: 40px;
}

.p-leadsection {
  position: relative;
}
.p-leadsection:before {
  position: absolute;
  content: "earth link";
  color: var(--color-bgtext);
  opacity: 0.08;
  font-family: "Roboto", sans-serif;
  top: 33%;
  left: -2%;
  font-size: 12.5rem;
  font-weight: bold;
}
.p-leadsection__left {
  width: 60%;
}
.p-leadsection__title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.p-leadsection__right {
  padding-left: 4em;
  width: 40%;
}
.p-leadsection__right p {
  padding-top: 2em;
}

.p-tabmenu__text {
  padding-top: 4em;
}
.p-tabmenu__flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.p-tabmenu__flex-item {
  width: 50%;
  margin-top: 3em;
}
.p-tabmenu__tab {
  padding: 5em 3em;
  position: relative;
  margin: 0 auto;
  background-image: url(../img/occupation/bg01.png);
  background-size: cover;
  border-radius: 12px;
  width: 400px;
  height: 600px;
}
.p-tabmenu__tab:before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.p-tabmenu__tab-item {
  padding-bottom: 2em;
  color: var(--color-white);
  z-index: 10;
  position: relative;
}
.p-tabmenu__tab-item .-selectArrow {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
.p-tabmenu__tab-item.-focus .-selectArrow {
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-text);
}
.p-tabmenu__occupation {
  font-size: 1.5rem;
  padding-bottom: 2em;
}
.p-tabmenu__detail {
  width: 70%;
  margin: 4.675rem auto 0;
  position: relative;
}
.p-tabmenu__detail:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: var(--color-main);
  left: -50%;
  top: 20px;
}
.p-tabmenu__detail-text {
  padding-bottom: 2em;
}
.p-tabmenu__button {
  text-align: center;
}
.p-tabmenu__bg {
  position: relative;
}
.p-tabmenu__bg:after {
  position: absolute;
  content: "";
  width: 88%;
  height: 107%;
  background-color: var(--color-gray);
  top: 0;
  z-index: -1;
  border-radius: 12px;
  right: 0;
  top: 25px;
}

.p-occupation__bggray {
  margin-top: 6rem;
  position: relative;
  width: 90%;
  background-color: var(--color-subBG-white);
  border-radius: 0 12px 0 0;
  padding-bottom: 8em;
}
.p-occupation__flex {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.p-occupation__flex-item {
  width: 50%;
  position: relative;
  z-index: 1;
}
.p-occupation__flex-item.-right {
  padding-left: 2em;
  padding-bottom: 3em;
  position: relative;
  z-index: 5;
}
.p-occupation__flex-item.-right:after {
  position: absolute;
  content: "";
  background-color: var(--color-main);
  width: 110%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 0 0 0 12px;
  z-index: -1;
}
.p-occupation__img {
  padding-bottom: 3em;
}
.p-occupation__lead {
  padding-top: 4em;
  padding-bottom: 2em;
  font-size: 2rem;
  line-height: 100px;
  padding-left: 37%;
}
.p-occupation__text {
  padding-left: 37%;
}
.p-occupation__text p {
  font-size: 1.25rem;
  padding-bottom: 1em;
  font-weight: bold;
}

.p-about__left {
  color: var(--color-white);
  width: 40%;
}
.p-about__left-top {
  margin-top: 1em;
  margin-left: 1em;
}
.p-about__left-lead {
  padding-top: 3em;
}
.p-about__left-lead p {
  color: var(--color-white);
}
.p-about__right {
  width: 50%;
  margin-left: 5em;
}
.p-about__btnWrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}
.p-about__btnWrap li {
  margin-bottom: 1.5em;
}
.p-about__btnWrap li:nth-child(odd) {
  margin-right: 1.5em;
}

.p-business__box {
  padding: 2em;
  border: 3px solid var(--color-main);
  border-radius: 12px;
  position: relative;
}
.p-business__box:after {
  position: absolute;
  content: "";
  border: 3px solid var(--color-business-border);
  display: block;
  width: 101%;
  height: 101%;
  top: 12px;
  left: -18px;
  border-radius: 12px;
  opacity: 0.43;
  z-index: -1;
}
.p-business__textWrap {
  padding-top: 4.5em;
  width: 70%;
}
.p-business__textWrap.-half {
  width: 50%;
}
.p-business__cardWrap {
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  padding-bottom: 3em;
}
.p-business__card {
  position: relative;
}
.p-business__card-wrap {
  border: 2px solid var(--color-main);
  border-radius: 12px;
  padding: 1em;
  max-width: 200px;
  margin: 1.5em auto 0;
}
.p-business__card-title {
  text-align: center;
  color: var(--color-main);
}
.p-business__card.-wide {
  margin-top: -10em;
}
.p-business__container {
  position: relative;
}
.p-business__container:after {
  position: absolute;
  content: "1";
  display: inline-block;
  top: -23%;
  right: 0;
  font-size: 18.75rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-bgtext);
  opacity: 0.07;
}
.p-business__container.-no2:after {
  content: "2";
}
.p-business__container.-no3:after {
  content: "3";
}

.p-teamwork__heading {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--color-main);
  position: relative;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}
.p-teamwork__heading:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-main);
  bottom: 0;
}
.p-teamwork__img {
  margin-top: 3em;
  text-align: right;
  position: relative;
  z-index: 10;
  padding-right: 20px;
}
.p-teamwork__img img {
  border-radius: 12px;
}
.p-teamwork__img:after {
  position: absolute;
  content: "";
  background: linear-gradient(0deg, #004eb4 0%, #074db7 0%, #0069cb 100%);
  width: 90%;
  height: 98%;
  top: 8%;
  right: 0;
  border-radius: 12px;
  z-index: -1;
}

.p-culture__img {
  text-align: right;
  margin-top: 12em;
  position: relative;
  z-index: 10;
}
.p-culture__img img {
  border-radius: 12px;
}
.p-culture__img:after {
  position: absolute;
  content: "";
  z-index: -10;
  width: 100%;
  height: 538px;
  top: -10%;
  right: -35%;
  border-radius: 12px;
  background: linear-gradient(0deg, #004eb4 0%, #074db7 0%, #0069cb 100%);
}
.p-culture__lead {
  text-align: left;
  padding-top: 7em;
}
.p-culture__button {
  padding-top: 7em;
}

.p-interview__lead {
  width: 80%;
  margin: 8em auto 0;
}

.p-benefits__lead {
  text-align: left;
  padding-top: 6em;
  width: 90%;
  margin: 0 auto;
}
.p-benefits__imgWrap {
  margin-top: 5em;
  position: relative;
}
.p-benefits__imgWrap:after {
  position: absolute;
  content: "";
  z-index: -10;
  width: 110%;
  height: 600px;
  top: -25%;
  left: -40%;
  border-radius: 12px;
  background: linear-gradient(0deg, #004eb4 0%, #074db7 0%, #0069cb 100%);
}
.p-benefits__img img {
  border-radius: 12px;
}
.p-benefits__img + .p-benefits__img {
  padding-top: 1em;
}
.p-benefits__button {
  padding-top: 5em;
}
.p-benefits__card {
  width: 80%;
  margin: 0 auto 5em;
}
.p-benefits__card-title {
  text-align: center;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  z-index: 10;
}
.p-benefits__card-title span {
  position: relative;
}
.p-benefits__card-title span:before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  opacity: 0.14;
  background-color: var(--color-benefits-circle);
  z-index: -1;
  top: -50%;
  left: -170%;
}
.p-benefits__card-bottom {
  padding-top: 3em;
  display: flex;
  align-items: center;
}

.p-footer {
  color: var(--color-white);
}
.p-footer a {
  display: inline-block;
  transition: 0.3s;
}
.p-footer a:hover {
  opacity: 0.9;
  color: #bdbdbd;
  transition: 0.3s;
}
.p-footer__nav {
  width: 25%;
}
.p-footer__nav-title {
  position: relative;
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 1.25em;
}
.p-footer__nav-title + .p-footer__nav-title {
  padding-top: 1em;
}
.p-footer__nav-title a {
  display: block;
}
.p-footer__nav-title:after {
  position: absolute;
  content: "";
  background-color: var(--color-footer-line);
  height: 1px;
  width: 75%;
  bottom: 0;
  left: 0;
}
.p-footer__nav-list {
  font-size: 0.8125rem;
  padding-top: 0.25em;
}
.p-footer__nav-list li {
  position: relative;
  padding-top: 1em;
  padding-left: 2em;
}
.p-footer__nav-list li:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  background-color: var(--color-white);
  top: 69%;
  left: 0%;
}
.p-footer__bottom {
  text-align: right;
}
.p-footer__text {
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 1.75em;
}
.p-footer__text-en {
  font-size: 0.75rem;
}

.u-gothic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック" sans-serif;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-bgblue {
  background-color: var(--color-main);
  position: relative;
}

.u-strong {
  font-weight: bold;
}

.u-orange {
  color: var(--color-orange);
}

.u-circlehot {
  position: relative;
  display: inline-block;
}
.u-circlehot:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  border: #FFDC68;
  width: 54px;
  height: 54px;
  background: radial-gradient(circle, #ffedb4 0%, #ffc551 100%);
  z-index: -1;
  top: 50%;
  left: 50%;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  -webkit-animation-name: fuwafuwa;
  animation-name: fuwafuwa;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes fuwafuwa {
  0% {
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
  50% {
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
}

@keyframes fuwafuwa {
  0% {
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
  50% {
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
}
.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.u-centerposition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-pickup {
  color: var(--color-orange);
}

.u-spacer__m {
  height: 40px;
}

.u-spacer__l {
  height: 100px;
}

.swiper-container {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  text-align: center;
}

.swiper-wrapper {
  transition-timing-function: ease-in-out;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  z-index: 10;
  transform: translate(0%, -50%);
  margin-top: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: bold;
  color: var(--color-text);
}

.swiper-button-prev {
  left: 0;
}

.l-header.-open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
}