.l-about {
    position: relative;
    z-index: 0;
    overflow: hidden;

    &:before {
        position: absolute;
        content: "";
        z-index: -10;
        background-image: url(../img/bg01.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 12px;
        max-height: 507px;
        width: 90%;
        height: 100%;
        top: 0;
        left: 0;
    }
}