.l-about {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-bottom: 1em;

    &:before {
        position: absolute;
        content: "";
        z-index: -10;
        background-image: url(../img/bg01.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 12px;
        max-height: 507px;
        width: 85%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:after {
        position: absolute;
        content: '';
        z-index: -12;
        width: 85%;
        height: 95%;
        top: 15px;
        left: 20px;
        border-radius: 12px;
        background: linear-gradient(
0deg, #004eb4 0%, #074db7 0%, #0069cb 100%);
    }
}