.l-backgroundgray {
  width: 84%;
  margin: 0 auto;
  background: var(--color-subBG-white);
  position: relative;
  z-index: -2;

  @include mq('sp') {
    width: 100%;
  }

  &.-wide {
    width: 100%;
  }

  &.-radius {
    border-radius: 12px;

    @include mq('sp') {
      width: 100%;
    }
  }


}