.l-company {
  &__flex {
    display: flex;
    width: 90%;

    @include mq('sp') {
      display: block;
      width: 100%;
    }

    &.-wide {
      width: 100%;
    }

    &-item {

      &.-title {
        min-width: 30%;

        @include mq('sp') {
          padding-bottom: 2em;
        }

        &.-history {
          min-width: 27%;
        }
      }
      &.-table {
        flex-grow: 1;
      }
      &.-map {
        flex-grow: 1;
      }
      &.-list {
        width: 44%;

        @include mq('sp') {
          width: 100%;
          padding-top: 2em;
        }
      }


    }
  }
}