.l-navigation {
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    height: 100vh;
    width: 8%;
    background-color: var(--color-btn-white);
    -moz-box-shadow: 7px 2px 9px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 7px 2px 9px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 7px 2px 9px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 2px 9px 6px rgba(0, 0, 0, 0.1);

    @include mq('sp') {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
    }
}