.l-slide {
    position: relative;
    z-index: 200;
  
    &:after {
      position: absolute;
      z-index: -5;
      content: "";
      background: var(--color-btn-white);
      width: 85%;
      height: 100%;
      border-radius: 0 0 12px 0;
      top: 0;
      left: 0;
    }

    &__inner {
        width: 70vw;
        margin: 0 auto 0 7em;
        position: relative;
        top: -40px;
    }
  
}