.l-submv {
  min-height: 540px;
  position: relative;

  @include mq('sp') {
    min-height: 360px;
  }

  &:after {
    position: absolute;
    content: '';
    border-radius: 12px 12px 12px 0;
    background: var(--color-subBG-white);
    bottom: 0;
    right: 0;
    width: 55%;
    height: 95%;
    // z-index: 20;

    @include mq('sp') {
      width: 0;
    }
  }

  &.-occupation {
    &:after {
      width: 0;
      height: 0;
    }
    &:before {
      width: 100%;
    }
  }

  &:before {
    position: absolute;
    content: '';
    border-radius: 0 0 12px 0; 
    width: 45%;
    height: 100%;
    // background: linear-gradient(0deg, rgba(0,78,180,1) 0%, rgba(7,77,183,1) 0%, rgba(0,105,203,1) 100%);
    background-color: var(--color-main);

    @include mq('sp') {
      width: 90%;
    }
  }

  &__mask {
    width: 100%;
    background-color: var(--color-main);
    position: relative;

    @include mq('sp') {
      background-color: transparent;
    }
  }

  &.-interview {
    background-color: var(--color-subBG-white);
    &:before {
      height: 85%;
    }
  }


}