.c-companyname {
    color: var(--color-bgtext);
    opacity: 0.2;
    font-family: "Roboto", sans-serif;
    font-size: 12.5rem;
    font-weight: bold;

    @include mq('sp') {
        font-size: 4.5rem;
    }
}