.c-flex {

  display: flex;

  &__half {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 50%;
    }
  }

  &__oneThird {
    display: flex;

    &-item {
      width: calc(100% / 3);
    }
  }
}