.c-flex {

  display: flex;

  &__half {
    display: flex;
    flex-wrap: wrap;

    @include mq('sp') {
      display: block;
    }

    &-item {
      width: 50%;

      @include mq('sp') {
        width: 100%;
      }
    }
  }

  &__oneThird {
    display: flex;

    &-item {
      width: calc(100% / 3);
    }
  }
}