.c-heading {
    display: inline-block;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 55%;
        height: 1px;
        background-color: var(--color-main);
        top: 52%;
        right: 33%;
        transform: rotate(123deg);

        @include mq('sp') {
            right: 43%;
        }
    }

    &__en {
        color: var(--color-main);
        font-size: rem(100);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;

        @include mq('sp') {
            font-size: rem(60);
        }
    }

    &__title {
        font-size: rem(20);
        color: var(--color-main);
        padding-top: 1em;
        text-align: center;

        @include mq('sp') {
            font-size: rem(16);
            padding-top: 0.25em;
        }
    }

    &.-center {
        margin: 0 auto;
    }
}

.c-headingSub {
    display: inline-block;
    position: relative;
    z-index: 100;

    &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 55%;
        height: 1px;
        background-color: var(--color-btn-white);
        top: 52%;
        right: 56%;
        transform: rotate(123deg);
    }

    &.-data {
        &:after {
            width: 88%;
            right: 30%;
        }
    }

    &.-occupation {
        line-height: 120px;
        margin-top: -2em;
        &:after {
            width: 30%;
            right: 78%;
        }
    }

    &__en {
        color: transparent;
        -webkit-text-stroke: 1px var(--color-btn-white);
        font-size: rem(100);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        letter-spacing: 0.01em;
    }

    &__title {
        font-size: rem(20);
        color: var(--color-btn-white);
        padding-top: 1em;
        padding-left: 3em;

        &.-occupation {
            padding-top: 0;
        }
    }

    &.-center {
        margin: 0 auto;
    }
}

.c-heading__blue {
    font-size: rem(40);
    font-weight: bold;
    color: var(--color-main);
    letter-spacing: 0.05em;
}

.c-headingLv2 {
    position: relative;
    font-size: rem(20);
    line-height: 29px;
    font-weight: 400;

    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 85px;
        background-color: var(--color-sub);
        top: -30%;
        left: -13%;
        transform: rotate(-54deg);
    }
}

.c-headingLv3 {
    color: var(--color-main);

    &__jp {
        font-size: rem(32);
        display: inline-block;
        padding-right: 3em;
    }
    &__en {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: rem(20);
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            background-color: var(--color-main);
            width: 28px;
            height: 1px;
            bottom: 0;
            left: -65px;
        }

    }
}

.c-headingLv3.-occupation {
    color: var(--color-white);
}
.c-headingLv3__en.-occupation:before {
    background-color: var(--color-white);
}

.c-headingLv4 {
    font-size: rem(28);
    font-weight: bold;
    color: var(--color-main);
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background-color: var(--color-main);
        bottom: -4px;
        left: 0;
    }
}

.c-headingInterview {
    display: inline-block;
    position: relative;
    z-index: 100;

    &__en {
        color: transparent;
        -webkit-text-stroke: 1px var(--color-btn-white);
        font-size: rem(60);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        letter-spacing: 0.01em;
    }

    &__bottom {
        position: relative;
        margin-left: 3.5em;

        
    &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 120px;
        height: 1px;
        background-color: var(--color-btn-white);
        top: 58%;
        left: -35%;
        transform: rotate(123deg);
    }
    }

    &__count {
        color: var(--color-white);
    }

    &__name {
        color: var(--color-white);
        font-size: rem(60);
        font-weight: bold;
    }

    &__position {
        color: var(--color-white);
        font-size: rem(14);
        letter-spacing: 0.125rem;

    }


}
