.c-heading {
    display: inline-block;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 55%;
        height: 1px;
        background-color: var(--color-main);
        top: 52%;
        right: 33%;
        transform: rotate(123deg);
    }

    &__en {
        color: var(--color-main);
        font-size: rem(100);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    &__title {
        font-size: rem(20);
        color: var(--color-main);
        padding-top: 1em;
        text-align: center;
    }

    &.-center {
        margin: 0 auto;
    }
}

.c-headingSub {
    display: inline-block;
    position: relative;
    z-index: 100;

    &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 55%;
        height: 1px;
        background-color: var(--color-btn-white);
        top: 52%;
        right: 56%;
        transform: rotate(123deg);
    }

    &.-data {
        &:after {
            width: 88%;
            right: 30%;
        }
    }

    &__en {
        color: transparent;
        -webkit-text-stroke: 1px var(--color-btn-white);
        font-size: rem(100);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    &__title {
        font-size: rem(20);
        color: var(--color-btn-white);
        padding-top: 1em;
        // text-align: center;
        padding-left: 3em;
    }

    &.-center {
        margin: 0 auto;
    }
}

.c-heading__blue {
    font-size: rem(40);
    font-weight: bold;
    color: var(--color-main);
    letter-spacing: 0.05em;
}

.c-headingLv2 {
    position: relative;
    font-size: rem(20);
    line-height: 29px;
    font-weight: 400;

    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 85px;
        background-color: var(--color-sub);
        top: -30%;
        left: -13%;
        transform: rotate(-54deg);
    }
}

.c-headingLv3 {
    color: var(--color-main);

    &__jp {
        font-size: rem(32);
        display: inline-block;
        padding-right: 3em;
    }
    &__en {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: rem(20);
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-color: var(--color-main);
            width: 28px;
            height: 1px;
            bottom: 0;
            left: -65px;
        }

    }
}

.c-headingLv4 {
    font-size: rem(28);
    font-weight: bold;
    color: var(--color-main);
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background-color: var(--color-main);
        bottom: -4px;
        left: 0;
    }
}