.u-gothic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック" sans-serif;
}

.u-uppercase {
  text-transform: uppercase;
 }

.u-bgblue {
  background-color: var(--color-main);
  position: relative;
}

.u-circlehot {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: #FFDC68;
    width: 54px;
    height: 54px;
    background: radial-gradient(circle, rgba(255,237,180,1) 0%, rgba(255,197,81,1) 100%);
    z-index: -1;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50%,-50%);
    animation-name: fuwafuwa;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
@keyframes fuwafuwa {
  0% {
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
  50% {
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
}

.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}

.u-centerposition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-pickup {
  color: var(--color-orange);
}

.u-spacer__m  {
  height: 40px;
}
.u-spacer__l {
  height: 100px;
}