.p-benefits {
    &__lead {
        text-align: left;
        padding-top: 6em;
        width: 90%;
        margin: 0 auto;

        @include mq('sp') {
            padding-top: 2em;
        }

    }

    &__imgWrap {
        margin-top: 5em;
        position: relative;

        @include mq('sp') {
            margin-top: 0em;
        }

        &:after {
            position: absolute;
            content: "";
            z-index: -10;
            width: 110%;
            height: 600px;
            top: -25%;
            left: -40%;
            border-radius: 12px;
            // background-color: var(--color-main);
            background: linear-gradient(0deg, rgba(0,78,180,1) 0%, rgba(7,77,183,1) 0%, rgba(0,105,203,1) 100%);

            @include mq('sp') {
                z-index: 100;
                top: -60%;
                height: 400px;
                width: 88%;
            }
        }
    }

    &__img {
        @include mq('sp') {
            width: 60%;
            position: relative;
            z-index: 150;
            top: -3em;
        }
        & img {
            border-radius: 12px;
        }
        & + & {
            padding-top: 1em;
        }
    }

    &__button {
        padding-top: 5em;
        @include mq('sp') {
            padding-top: 2em;
        }

    }

    &__card {
        width: 80%;
        margin: 0 auto 5em;

        &-title {
            text-align: center;
            position: relative;
            font-size: rem(16);
            font-weight: bold;
            z-index: 10;

            span {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    border-radius: 50%;
                    width: 44px;
                    height: 44px;
                    opacity: .14;
                    background-color: var(--color-benefits-circle);
                    z-index: -1;
                    top: -50%;
                    left: -170%;
                }
            }

            
        }

        &-bottom {
            padding-top: 3em;
            display: flex;
            align-items: center;
        }
    }
}