.p-business {
    &__box {
        padding: 0.5em;
        border: 3px solid var(--color-main);
        border-radius: 12px;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            border: 3px solid var(--color-business-border);
            display: block;
            width: 101%;
            height: 101%;
            top: 12px;
            left: -18px;
            border-radius: 12px;
            opacity: 0.43;
            z-index: -1;

            @include mq('sp') {
                width: 0;
                height: 0;
            }
        }
    }

    &__textWrap {
        padding-top: 4.5em;
        width: 70%;

        @include mq('sp') {
            width: 100%;
            padding-top: 2em;
        }

        &.-half {
            width: 50%;

            @include mq('sp') {
                width: 100%;
                padding-top: 2em;
            }
        }
    }

    &__cardWrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 3em;
        padding-bottom: 3em;

    }
    &__card {
        position: relative;
        @include mq('sp') {
            width: 50%;
            padding-bottom: 1em;
        }
        &-wrap {
            border: 2px solid var(--color-main);
            border-radius: 12px;
            padding: 1em;
            max-width: 200px;
            margin: 1.5em auto 0;

            @include mq('sp') {
                max-width: 150px;
            }
        }

        &-title {
            text-align: center;
            color: var(--color-main);
        }
        
        &.-wide {
            margin-top: -10em;
            @include mq('sp') {
                margin-top: 0;
                width: 100%;
            }
        }
    }

    &__container {
        position: relative;

        &:after {
            position: absolute;
            content: '1';
            display: inline-block;
            top: -23%;
            right: 0;
            font-size: rem(300);
            font-family: "Roboto", sans-serif;
            color: var(--color-bgtext);
            opacity: 0.07;


            @include mq('sp') {
                font-size: rem(80);
                top: -30px;
            }
        }

        &.-no2 {
            &:after {
                content: '2';
            }
        }
        &.-no3 {
            &:after {
                content: '3';
            }
        }
    }

}