.p-culture {
    &__img {
        text-align: right;
        margin-top: 12em;
        position: relative;
        z-index: 10;
        // overflow: hidden;

        & img {
            border-radius: 12px;
        }

        &:after {
            position: absolute;
            content: "";
            z-index: -10;
            width: 100%;
            height: 538px;
            top: -10%;
            right: -35%;
            border-radius: 12px;
            // background-color: var(--color-main);
            background: linear-gradient(0deg, rgba(0,78,180,1) 0%, rgba(7,77,183,1) 0%, rgba(0,105,203,1) 100%);
        }
    }
    &__lead {
        text-align: left;
        padding-top: 7em;
    }

    &__button {
        padding-top: 7em;
    }
    
}