.p-mv {
    &__img {
        padding-top: 1.5em;
        width: 90%;
        max-height: 716px;
        position: relative;
        @include mq('sp') {
            width: 95%;
        }
        img{
            width: 100%;
            height: 716px;
            object-fit: cover;
            border-radius: 12px;

            @include mq('sp') {
                height: auto;
                padding-top: 70px;
            }
        }

        &:after {
            position: absolute;
            content: '';
            display: inline-block;
            background-color: var(--color-orange);
            width: 200px;
            height: 1px;
            bottom: -45px;
            right: 50%;
            transform: translateX(50%) rotate(-54deg);

            @include mq('sp') {
                width: 100px;
                bottom: -15px;
            }
        }
    } 
    &__catch {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        @include mq('sp') {
            top: 70%;
            width: 90%;
        }

        &-lead {
            font-weight: bold;
            font-size: rem(48);
            padding-left: 1em;
            min-width: 805px;
            position: relative;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-right: 1em;
            backdrop-filter: blur(3px);

            @include mq('sp') {
                min-width: 95%;
                font-size: rem(20);
                padding: 0;
            }

        }
    }
}