.p-mv {
    &__img {
        padding-top: 1.5em;
        width: 90%;
        max-height: 716px;
        position: relative;
        img{
            width: 100%;
            height: 716px;
            object-fit: cover;
            border-radius: 12px;
        }

        &:after {
            position: absolute;
            content: '';
            display: inline-block;
            background-color: var(--color-orange);
            width: 200px;
            height: 1px;
            bottom: -45px;
            right: 50%;
            transform: translateX(50%) rotate(-54deg);
        }
    } 
    &__catch {
        position: absolute;
        bottom: 20%;

        &-lead {
            font-weight: 400;
            font-size: rem(48);
            padding-left: 1em;
            position: relative;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-right: 1em;
            backdrop-filter: blur(3px);

        }
    }
}