.p-occupation {
    &__bggray {
        margin-top: 6rem;
        position: relative;
        width: 90%;
        background-color: var(--color-subBG-white);
        border-radius: 0 12px 0 0;
        padding-bottom: 8em;
    }
    &__flex {
        display: flex;
        margin: 0 auto;
        width: 100%;

        &-item {
            width: 50%;
            position: relative;
            z-index: 1;

            &.-right {
                padding-left: 2em;
                padding-bottom: 3em;
                position: relative;
                z-index: 5;

                &:after {
                    position: absolute;
                    content: '';
                    background-color: var(--color-main);
                    width: 110%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 12px;
                    z-index: -1;
                }
            }
        }
    }
    &__img {
        padding-bottom: 3em;
    }
    &__lead {
        padding-top: 4em;
        padding-bottom: 2em;
        font-size: rem(32);
        line-height: 100px;
        padding-left: 37%;
    }
    &__text {
        padding-left: 37%;
        p {
            font-size: rem(20);
            padding-bottom: 1em;
            font-weight: bold;
        }
    }


}