.p-philosophy {
  &__title {
    font-size: rem(48);
    font-weight: bold;
    letter-spacing: 0.125em;

    @include mq('sp') {
      font-size: rem(24);
    }
  }

  &__box {
    width: 100%;
    margin: 0 auto;
    padding-top: 8.25em;

    @include mq('sp') {
      padding-top: 4rem;
    }

    p {
      font-size: rem(24);
      font-weight: bold;
      padding-bottom: 1em;

      @include mq('sp') {
        font-size: rem(18);
      }

      &.-small {
        font-size: rem(18);

        @include mq('sp') {
          font-size: rem(16);
        }
      }
    }
  }
}