.p-submv {
  position: relative;
  z-index: 40;


  &__img {
    z-index: 50;
    position: absolute;
    content: '';
    right: 8%;
    top: 50px;
    
    img {
      border-radius: 12px 0 0 12px;
    }
  }

  &__title {
    padding-top: 10em;
  }
}