.p-submv {
  position: relative;
  z-index: 40;


  &__img {
    z-index: 50;
    position: absolute;
    content: '';
    right: 8%;
    top: 50px;

    @include mq('sp') {
      right: 0;
      padding-top: 25px;
    }

    
    img {
      border-radius: 12px 0 0 12px;

      @include mq('sp') {
        border-radius: 0;
      }
    }
  }

  &__title {
    padding-top: 10em;

    @include mq('sp') {
      padding-top: 14em;
    }
  }
}